.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    width: 50%;
    max-width: 1200px;
    margin: auto;
}

.item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    background-color: #D67A69;
    text-align: center;
}

.item h3 {
    margin: 0 0 10px 0;
}

.item p {
    margin: 5px 0;
}
