.sidebar {
    width: 200px;
    height: 100vh;
    padding: 10px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Sidebar bleibt fest auf der Seite */
    top: 0; /* Sidebar startet am oberen Rand */
    left: 0; /* Sidebar beginnt am linken Rand */
    z-index: 1000; /* Stellt sicher, dass die Sidebar über dem Inhalt bleibt */
    border-right: 3px solid #ddd; /* Horizontale Trennlinie hinzufügen */
}

.sidebar.collapsed {
    width: 80px;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu {
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    gap:10px;
    padding: 15px;
    border-radius: 20px;
    transition: background 0.3s;
}

.menu-item:hover {
    background: #e3d5c6;
}

.icon {
    font-size: 24px;
    width: 24px;
    text-align: center;
}

.text {
    font-size: 18px;
}
